In [2]:
#Import CSV File
import pandas as pd
from sklearn.model_selection import train_test_split as tts
match_data = pd.read_csv('finalDataset.csv')
match_data.head()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_Netherlands,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_West Indies,Winner_Zimbabwe
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Display Columns
for i, feature in enumerate(list(match_data.columns)):
    print (i, feature)

0 Team 1_Afghanistan
1 Team 1_Australia
2 Team 1_Bangladesh
3 Team 1_Bermuda
4 Team 1_Canada
5 Team 1_East Africa
6 Team 1_England
7 Team 1_Hong Kong
8 Team 1_India
9 Team 1_Ireland
10 Team 1_Kenya
11 Team 1_Namibia
12 Team 1_Netherlands
13 Team 1_New Zealand
14 Team 1_P.N.G.
15 Team 1_Pakistan
16 Team 1_Scotland
17 Team 1_South Africa
18 Team 1_Sri Lanka
19 Team 1_U.A.E.
20 Team 1_U.S.A.
21 Team 1_West Indies
22 Team 1_Zimbabwe
23 Team 2_Afghanistan
24 Team 2_Australia
25 Team 2_Bangladesh
26 Team 2_Bermuda
27 Team 2_Canada
28 Team 2_East Africa
29 Team 2_England
30 Team 2_Hong Kong
31 Team 2_India
32 Team 2_Ireland
33 Team 2_Kenya
34 Team 2_Namibia
35 Team 2_Netherlands
36 Team 2_New Zealand
37 Team 2_P.N.G.
38 Team 2_Pakistan
39 Team 2_Scotland
40 Team 2_South Africa
41 Team 2_Sri Lanka
42 Team 2_U.A.E.
43 Team 2_U.S.A.
44 Team 2_West Indies
45 Team 2_Zimbabwe
46 Ground_Aberdeen
47 Ground_Abu Dhabi
48 Ground_Adelaide
49 Ground_Ahmedabad
50 Ground_Albion
51 Ground_Albury
52 Ground_Amritsar
53 Ground_Amstelveen
54 Ground_Auckland
55 Ground_Ayr
56 Ground_Ballarat
57 Ground_Basseterre
58 Ground_Belfast
59 Ground_Bengaluru
60 Ground_Benoni
61 Ground_Berri
62 Ground_Birmingham
63 Ground_Bloemfontein
64 Ground_Bogra
65 Ground_Bridgetown
66 Ground_Brisbane
67 Ground_Bristol
68 Ground_Bulawayo
69 Ground_Cairns
70 Ground_Canberra
71 Ground_Canterbury
72 Ground_Cape Town
73 Ground_Cardiff
74 Ground_Castries
75 Ground_Centurion
76 Ground_Chandigarh
77 Ground_Chelmsford
78 Ground_Chennai
79 Ground_Chester
80 Ground_Chittagong
81 Ground_Christchurch
82 Ground_Colombo
83 Ground_Cuttack
84 Ground_Dambulla
85 Ground_Darwin
86 Ground_Delhi
87 Ground_Derby
88 Ground_Devonport
89 Ground_Dhaka
90 Ground_Dharamsala
91 Ground_Dubai
92 Ground_Dublin
93 Ground_Dunedin
94 Ground_Durban
95 Ground_East London
96 Ground_Edinburgh
97 Ground_Faisalabad
98 Ground_Faridabad
99 Ground_Fatullah
100 Ground_Galle
101 Ground_Georgetown
102 Ground_Glasgow
103 Ground_Greater Noida
104 Ground_Gros Islet
105 Ground_Gujranwala
106 Ground_Guwahati
107 Ground_Gwalior
108 Ground_Hambantota
109 Ground_Hamilton
110 Ground_Harare
111 Ground_Hobart
112 Ground_Hove
113 Ground_Hyderabad
114 Ground_ICCA Dubai
115 Ground_Indore
116 Ground_Jaipur
117 Ground_Jalandhar
118 Ground_Jamshedpur
119 Ground_Jodhpur
120 Ground_Johannesburg
121 Ground_Kandy
122 Ground_Kanpur
123 Ground_Karachi
124 Ground_Khulna
125 Ground_Kimberley
126 Ground_King City
127 Ground_Kingston
128 Ground_Kingstown
129 Ground_Kochi
130 Ground_Kolkata
131 Ground_Kuala Lumpur
132 Ground_Kwekwe
133 Ground_Lahore
134 Ground_Launceston
135 Ground_Leeds
136 Ground_Leicester
137 Ground_Lincoln
138 Ground_Lord's
139 Ground_Lucknow
140 Ground_Manchester
141 Ground_Margao
142 Ground_Melbourne
143 Ground_Mohali
144 Ground_Mombasa
145 Ground_Mong Kok
146 Ground_Moratuwa
147 Ground_Mount Maunganui
148 Ground_Multan
149 Ground_Mumbai
150 Ground_Nagpur
151 Ground_Nairobi
152 Ground_Napier
153 Ground_Nelson
154 Ground_New Delhi
155 Ground_New Plymouth
156 Ground_North Sound
157 Ground_Northampton
158 Ground_Nottingham
159 Ground_Paarl
160 Ground_Pallekele
161 Ground_Patna
162 Ground_Perth
163 Ground_Peshawar
164 Ground_Pietermaritzburg
165 Ground_Port Elizabeth
166 Ground_Port Moresby
167 Ground_Port of Spain
168 Ground_Potchefstroom
169 Ground_Providence
170 Ground_Pune
171 Ground_Queenstown
172 Ground_Quetta
173 Ground_Rajkot
174 Ground_Ranchi
175 Ground_Rawalpindi
176 Ground_Roseau
177 Ground_Rotterdam
178 Ground_Sahiwal
179 Ground_Sargodha
180 Ground_Scarborough
181 Ground_Schiedam
182 Ground_Sharjah
183 Ground_Sheikhupura
184 Ground_Sialkot
185 Ground_Singapore
186 Ground_Southampton
187 Ground_Srinagar
188 Ground_St George's
189 Ground_St John's
190 Ground_Swansea
191 Ground_Sydney
192 Ground_Tangier
193 Ground_Taunton
194 Ground_Taupo
195 Ground_The Hague
196 Ground_The Oval
197 Ground_Thiruvananthapuram
198 Ground_Toronto
199 Ground_Townsville
200 Ground_Tunbridge Wells
201 Ground_Vadodara
202 Ground_Vijayawada
203 Ground_Visakhapatnam
204 Ground_Wellington
205 Ground_Whangarei
206 Ground_Worcester
207 Margin_Winner1stInning
208 Margin_Winner2ndInning
209 Venue_Winner_Away
210 Venue_Winner_Home
211 Venue_Winner_Neutral
212 Winner_Afghanistan
213 Winner_Australia
214 Winner_Bangladesh
215 Winner_Bermuda
216 Winner_Canada
217 Winner_England
218 Winner_Hong Kong
219 Winner_India
220 Winner_Ireland
221 Winner_Kenya
222 Winner_Netherlands
223 Winner_New Zealand
224 Winner_P.N.G.
225 Winner_Pakistan
226 Winner_Scotland
227 Winner_South Africa
228 Winner_Sri Lanka
229 Winner_U.A.E.
230 Winner_West Indies
231 Winner_Zimbabwe

In [6]:
#Separation into Feature Set & Target Set
target_cols = match_data.columns[212:232]
feature_cols = match_data.columns[0:212]

print (target_cols)
print (feature_cols)

target_set = match_data[target_cols]
feature_set = match_data[feature_cols]

print(len(target_set))
print(len(feature_set))

Index(['Winner_Afghanistan', 'Winner_Australia', 'Winner_Bangladesh',
       'Winner_Bermuda', 'Winner_Canada', 'Winner_England', 'Winner_Hong Kong',
       'Winner_India', 'Winner_Ireland', 'Winner_Kenya', 'Winner_Netherlands',
       'Winner_New Zealand', 'Winner_P.N.G.', 'Winner_Pakistan',
       'Winner_Scotland', 'Winner_South Africa', 'Winner_Sri Lanka',
       'Winner_U.A.E.', 'Winner_West Indies', 'Winner_Zimbabwe'],
      dtype='object')
Index(['Team 1_Afghanistan', 'Team 1_Australia', 'Team 1_Bangladesh',
       'Team 1_Bermuda', 'Team 1_Canada', 'Team 1_East Africa',
       'Team 1_England', 'Team 1_Hong Kong', 'Team 1_India', 'Team 1_Ireland',
       ...
       'Ground_Vijayawada', 'Ground_Visakhapatnam', 'Ground_Wellington',
       'Ground_Whangarei', 'Ground_Worcester', 'Margin_Winner1stInning',
       'Margin_Winner2ndInning', 'Venue_Winner_Away', 'Venue_Winner_Home',
       'Venue_Winner_Neutral'],
      dtype='object', length=212)
7498
7498

In [7]:
#Splitting Into Training & Testing Datasets
X = feature_set
Y = target_set
X_train, X_test, Y_train, Y_test = tts(X, Y, test_size=0.25)
print(len(X_train))
print(len(Y_train))

5623
5623

In [8]:
#Perceptron Classifier 1

from sklearn.neural_network import MLPClassifier
clf1 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(100, 32), random_state=1)
clf1.fit(X_train, Y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 32), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [9]:
X_test.head()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Ground_Vijayawada,Ground_Visakhapatnam,Ground_Wellington,Ground_Whangarei,Ground_Worcester,Margin_Winner1stInning,Margin_Winner2ndInning,Venue_Winner_Away,Venue_Winner_Home,Venue_Winner_Neutral
1829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
6685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6524,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4984,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
3494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [10]:
predicted = clf1.predict(X_test)
predicted

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [11]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, predicted))

0.8544

In [12]:
train_prediction = clf1.predict(X_train)
accuracy_score(Y_train, train_prediction)

0.96372043393206475

In [13]:
#Perceptron Classifier 2

from sklearn.neural_network import MLPClassifier
clf2 = MLPClassifier(solver='lbfgs', alpha=1e-3, hidden_layer_sizes=(200, 50), random_state=2)
clf2.fit(X_train, Y_train)

MLPClassifier(activation='relu', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(200, 50), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=2, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [14]:
predicted = clf2.predict(X_test)
print(accuracy_score(Y_test, predicted))

0.867733333333

In [15]:
train_prediction = clf2.predict(X_train)
accuracy_score(Y_train, train_prediction)

0.96621020807398184

In [17]:
#Hash Indexing Teams 1

ourTeams_1 = {}
for i,teams in enumerate(list(match_data.columns)):
    if i==23:
        break
    teamName = str(teams)
    teamName = teamName.split("Team 1_", 1)[-1]
    ourTeams_1[teamName] = i
print(ourTeams_1)

{'India': 8, 'Scotland': 16, 'Ireland': 9, 'West Indies': 21, 'Afghanistan': 0, 'Netherlands': 12, 'Namibia': 11, 'Australia': 1, 'Hong Kong': 7, 'Zimbabwe': 22, 'U.A.E.': 19, 'P.N.G.': 14, 'U.S.A.': 20, 'Kenya': 10, 'South Africa': 17, 'East Africa': 5, 'England': 6, 'New Zealand': 13, 'Bermuda': 3, 'Bangladesh': 2, 'Sri Lanka': 18, 'Pakistan': 15, 'Canada': 4}

In [19]:
#Hash Indexing Teams 2

ourTeams_2 = {}
for i,teams in enumerate(list(match_data.columns)):
    if i<23:
        continue
    if i==46:
        break
    teamName = str(teams)
    teamName = teamName.split("Team 2_", 1)[-1]
    ourTeams_2[teamName] = i
print(ourTeams_2)

{'India': 31, 'Scotland': 39, 'Ireland': 32, 'West Indies': 44, 'Afghanistan': 23, 'Netherlands': 35, 'Namibia': 34, 'Australia': 24, 'Hong Kong': 30, 'Zimbabwe': 45, 'U.A.E.': 42, 'P.N.G.': 37, 'U.S.A.': 43, 'Kenya': 33, 'South Africa': 40, 'East Africa': 28, 'England': 29, 'New Zealand': 36, 'Bermuda': 26, 'Bangladesh': 25, 'Sri Lanka': 41, 'Pakistan': 38, 'Canada': 27}

In [24]:
#Hash Indexing Grounds & Innings

ourGrounds = {}
for i,grounds in enumerate(list(match_data.columns)):
    if i<46:
        continue
    if i==207:
        break
    groundName = str(grounds)
    groundName = groundName.split("Ground_", 1)[-1]
    ourGrounds[groundName] = i
print(ourGrounds)
print("\n")
ourInnings = {'1': 207, '2': 208}
print(ourInnings)
print ("\n")
ourVenues = {'Home': 209, 'Away': 210, 'Neutral': 211}
print(ourVenues)

{'Jodhpur': 119, 'Delhi': 86, 'Hove': 112, 'Rajkot': 173, 'Melbourne': 142, "Lord's": 138, 'Nelson': 153, 'Manchester': 140, 'Swansea': 190, 'Wellington': 204, 'Port Elizabeth': 165, 'Basseterre': 57, 'Toronto': 198, 'Providence': 169, 'Peshawar': 163, 'Centurion': 75, 'Faridabad': 98, 'ICCA Dubai': 114, 'Dublin': 92, 'Kanpur': 122, 'Nottingham': 158, 'Southampton': 186, 'Edinburgh': 96, 'Queenstown': 171, 'Sharjah': 182, 'Chelmsford': 77, 'Nairobi': 151, 'Vadodara': 201, 'New Delhi': 154, 'Chester': 79, 'Port Moresby': 166, 'Kingstown': 128, 'Greater Noida': 103, 'Cardiff': 73, 'Kimberley': 125, 'Devonport': 88, 'Roseau': 176, 'Chennai': 78, 'Glasgow': 102, 'Northampton': 157, 'Amritsar': 52, 'Singapore': 185, 'Belfast': 58, 'Dubai': 91, 'The Hague': 195, 'Paarl': 159, 'Whangarei': 205, 'Ranchi': 174, 'Schiedam': 181, 'Jamshedpur': 118, 'Berri': 61, 'Hamilton': 109, 'Kwekwe': 132, 'Potchefstroom': 168, 'Mount Maunganui': 147, 'Mong Kok': 145, 'Albion': 50, 'Launceston': 134, 'Taunton': 193, 'Srinagar': 187, 'Bogra': 64, 'Amstelveen': 53, 'Cuttack': 83, 'Canterbury': 71, 'Ballarat': 56, 'Dhaka': 89, 'Fatullah': 99, 'Hobart': 111, 'Hyderabad': 113, 'Durban': 94, 'Townsville': 199, 'Sialkot': 184, 'Brisbane': 66, 'Sydney': 191, 'Canberra': 70, 'Bengaluru': 59, 'Quetta': 172, 'Lahore': 133, 'King City': 126, 'Ayr': 55, 'Colombo': 82, 'Kingston': 127, 'Sargodha': 179, 'Galle': 100, 'Mumbai': 149, 'North Sound': 156, 'Dharamsala': 90, 'Port of Spain': 167, 'The Oval': 196, 'Sahiwal': 178, 'Birmingham': 62, 'Gujranwala': 105, 'Napier': 152, 'Kolkata': 130, 'Patna': 161, 'Leeds': 135, 'Chandigarh': 76, 'Benoni': 60, 'Thiruvananthapuram': 197, 'Guwahati': 106, 'Nagpur': 150, 'Kochi': 129, 'Faisalabad': 97, 'Aberdeen': 46, 'Bridgetown': 65, 'Karachi': 123, 'Harare': 110, 'Ahmedabad': 49, 'Khulna': 124, 'Kandy': 121, 'Bulawayo': 68, 'Margao': 141, 'Multan': 148, 'Dambulla': 84, 'Indore': 115, 'Cairns': 69, 'Visakhapatnam': 203, "St John's": 189, 'Abu Dhabi': 47, 'Georgetown': 101, 'Lucknow': 139, 'Pune': 170, 'Albury': 51, 'Vijayawada': 202, 'Kuala Lumpur': 131, "St George's": 188, 'Tangier': 192, 'Moratuwa': 146, 'Gwalior': 107, 'Pallekele': 160, 'Cape Town': 72, 'Auckland': 54, 'East London': 95, 'Taupo': 194, 'Chittagong': 80, 'Sheikhupura': 183, 'Scarborough': 180, 'Mombasa': 144, 'Mohali': 143, 'Lincoln': 137, 'Derby': 87, 'Christchurch': 81, 'New Plymouth': 155, 'Castries': 74, 'Rawalpindi': 175, 'Jalandhar': 117, 'Dunedin': 93, 'Darwin': 85, 'Gros Islet': 104, 'Leicester': 136, 'Pietermaritzburg': 164, 'Bristol': 67, 'Hambantota': 108, 'Adelaide': 48, 'Perth': 162, 'Rotterdam': 177, 'Tunbridge Wells': 200, 'Bloemfontein': 63, 'Jaipur': 116, 'Worcester': 206, 'Johannesburg': 120}


{'1': 207, '2': 208}


{'Home': 209, 'Away': 210, 'Neutral': 211}

In [25]:
#Hash Indexing the Target Winners

winnerIndex = {}
counter = 0
for i,teams in enumerate(list(match_data.columns)):
    if i<212:
        continue
    
    teamName = str(teams)
    teamName = teamName.split("Winner_", 1)[-1]
    winnerIndex[teamName] = counter
    counter+=1
print(winnerIndex)

{'Kenya': 9, 'England': 5, 'Scotland': 14, 'U.A.E.': 17, 'Ireland': 8, 'Bangladesh': 2, 'Afghanistan': 0, 'India': 7, 'Australia': 1, 'New Zealand': 11, 'Hong Kong': 6, 'Zimbabwe': 19, 'P.N.G.': 12, 'Bermuda': 3, 'Pakistan': 13, 'West Indies': 18, 'Sri Lanka': 16, 'Netherlands': 10, 'Canada': 4, 'South Africa': 15}

In [27]:
#Running Prediction in Detailed Manner

inputPrediction = [0]*212
print(inputPrediction)
t1 = 'India'
t2 = 'Pakistan'
ground = 'Mumbai'
innings = '1'
venue = 'Home'
inputPrediction[ourTeams_1[t1]] = 1
inputPrediction[ourTeams_2[t2]] = 1
inputPrediction[ourGrounds[ground]] = 1
inputPrediction[ourInnings[innings]] = 1
inputPrediction[ourVenues[venue]] = 1
print(inputPrediction)
print("\n\n\n")

#Running Predictions

ourPrediction = clf2.predict([inputPrediction])
print(ourPrediction)
if ourPrediction[0][winnerIndex[t1]] == 1:
    print("{} is the winner".format(t1))
else:
    print("{} is the winner".format(t2))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0]




[[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]]
Pakistan is the winner

In [23]:
#Instance: 1

#inputPrediction = [0]*189

#t1 = input("Team 1:")
#t2 = input("Team 2:")
#ground = input("Ground:")
#innings = input("Winner Innings:(1/2)")
#inputPrediction[ourTeams_1[t1]] = 1
#inputPrediction[ourTeams_2[t2]] = 1
#inputPrediction[ourGrounds[ground]] = 1
#inputPrediction[ourInnings[innings]] = 1

#ourPrediction = clf2.predict([inputPrediction])
#print(ourPrediction)
#if ourPrediction[0][winnerIndex[t1]] == 1:
#    print("{} is the winner".format(t1))
#else:
#    print("{} is the winner".format(t2))

In [19]:
#Instance: 2

#inputPrediction = [0]*189

#t1 = input("Team 1:")
#t2 = input("Team 2:")
#ground = input("Ground:")
#innings = input("Winner Innings:(1/2)")
#inputPrediction[ourTeams_1[t1]] = 1
#inputPrediction[ourTeams_2[t2]] = 1
#inputPrediction[ourGrounds[ground]] = 1
#inputPrediction[ourInnings[innings]] = 1

#ourPrediction = clf2.predict([inputPrediction])
#print(ourPrediction)
#if ourPrediction[0][winnerIndex[t1]] == 1:
#    print("{} is the winner".format(t1))
#else:
#    print("{} is the winner".format(t2))

In [33]:
#Running Prediction in Detailed Probabilistic Manner

inputPrediction = [0]*212

t1 = 'New Zealand'
t2 = 'India'
ground = 'Kanpur'
innings = '2'
venue = 'Home'
inputPrediction[ourTeams_1[t1]] = 1
inputPrediction[ourTeams_2[t2]] = 1
inputPrediction[ourGrounds[ground]] = 1
inputPrediction[ourInnings[innings]] = 1
inputPrediction[ourVenues[venue]] = 1
print("\n\n\n")

#Running Predictions

ourPrediction = clf2.predict_proba([inputPrediction])
print(ourPrediction)

[[  9.19684663e-41   1.90668478e-40   9.02924138e-27   2.87686800e-16
    2.15957183e-22   1.10474914e-26   1.12228290e-10   1.50536351e-07
    5.76640692e-34   6.26100438e-17   2.60716331e-19   9.99823028e-01
    1.93394418e-08   6.78560066e-22   3.05120410e-31   1.28553140e-24
    5.86242165e-38   3.66713740e-25   1.90131689e-28   1.25596742e-13]]